@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background-color: #ffffff; color: #333;}


.wrap{position: relative;}
.inner{width: 1200px; margin: auto;}
header{position: relative;height: 100px;background-color: #c77575; padding-top: 30px;padding-left: 30px;}
nav{position: absolute;top: 30px;right: 0;z-index: 10;}
nav>ul{display: flex;}
nav>ul>li>a{display: block;width: 120px;background-color: #ffebdf;text-align: center;font-weight: bold;
color: #333;padding: 10px;}

nav>ul>li:hover>a,
nav>ul>li>a:focus,
nav>ul>li.on>a{background-color: #c25757;color: #fff;}
.sub{display: none;}
.sub li a{display: block;padding: 5px;text-align: center;font-size: 14px;background: #FFf;}
.sub li a:hover,
.sub li a:focus{background-color: #c67171;}




.slide{height: 300px;background-color: #d5ce66; position: relative; overflow: hidden;}
.slide ul{position: absolute; top: 0;left: 0;height: 900px;}
.slide ul li{width: 1200px;height: 300px; position: relative;}
.slide ul li a{display: block;height: 100%;}
.slide ul li.s1{background: url(../img/s1.jpg) no-repeat center/cover;}
.slide ul li.s2{background: url(../img/s2.jpg) no-repeat center/cover;}
.slide ul li.s3{background: url(../img/s3.jpg) no-repeat center/cover;}
.slide ul li h2{background: #ceb398; position: absolute;top: 20%;left: 50%;
    transform: translate(-50%,-50%);font-size: 14px;font-weight: bold;border-radius: 10px ;padding: 10px;}





.con{height: 200px;background-color: #6671d5; display: flex;}
.con article{width: 400px;}
.con article:nth-child(2){background-color: #fff;}

.con1{position: relative;}
.con1 .tabmenu{display: flex;}
.con1 .tabmenu>li{width: 150px;background: #fcf0ea;}
.con1 .tabmenu>li.on{background-color: #ceb398;color: #fff;}
.con1 .tabmenu>li>h2>a{display: block;text-align: center;padding: 10px 0; font-weight: bold;font-size: 18px;}
.con1 .tabcon{position: absolute;left: 0;width: 100%;}


.notice{padding-top: 10px;}
.notice th{text-align: left; color: #fff;}
.notice td{color: #fff;}
.notice tr{border-bottom: 1px dashed #fff;}
.notice a{display: block;padding: 5px;width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.gall{display: none;}
.gall{padding-top: 30px;}
.gall ul{display: flex; gap: 10px;}



.con2{padding: 10px;}
.con2 a{display: block; height: 100%; background: url(../img/s1.jpg) center/cover; border-radius: 10px; text-align: center; overflow: hidden;}
.con2 div{background-color: #fff; height: 100%; padding-top: 20px;}
.con2 h2{margin-bottom: 10px}
.con2 p{background-color: #333; text-align: center; color: #fff; display: inline-block; font-size: 14px; margin-top: 20px;}



.con3{padding: 10px;}
.con3 h2{color: #ceb398; margin-bottom: 20px;}
.con3 ul{display: flex; text-align: center; gap: 20px; justify-content: center;}
.con3 ul li a{display: block; height: 100%;}
.con3 ul li p{width: 80px; height: 80px; background-color: #ceb398; padding-top: 20px; border-radius: 10px;}
.con3 ul li span{margin-top: 10px; display: block; font-weight: bold;}





footer{height: 100px; background-color: #4b4b4b; color: #fff;position: relative;
        padding-top: 25px; padding-left: 20px; display: flex; gap: 30px;}

.fsns{display: flex; gap: 10px; position: absolute; top: 30px; right: 30px;}
.fsns li a{display: block; width: 30px;height: 30px;background-color: #fff; border-radius: 50%; text-align: center; padding-top: 3px;}
.fsns li:nth-child(1) a {background-color: #6671d5;}
.fsns li:nth-child(2) a {background-color: #66d58f}
.fsns li:nth-child(3) a {background-color: #d5669d}





.popup{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
        text-align: center; padding: 20px; width: 500px; background-color: #fff; z-index: 999; display: none;}

.popup h2{color: #ceb398; margin-bottom: 20px}
.popup .text{margin: 20px 0;}

.popup .button{text-align: right;}
.popup button{border: 0; padding: 20px; background-color: #ceb398; color: #fff;}
.popup button:hover{background-color: #212121;}